@import "node_modules/@cells-components/cells-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  @apply --cells-ui-solicitudes-vcard;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  box-sizing: inherit;}

  .panel-top {
    padding-right: 0px !important;
  }

@media (max-width: 420px) {
  .panel-top {
    padding-right: 10px !important;
  }
  bbva-button-icon{
    width:100% !important;
  }
  .button{
    width:100%;
  }
  .content-select-filter {
    padding-left: 0px !important;
    padding-right: 0px !important; }
}

.text-right {
  text-align: right; }

.content-select-filter {
  padding-left: 5px;
  padding-right: 5px; }

.button {
  color: #1973B8;
  background-color: #fff;
  border: 1px solid #D3D3D3;
  padding: 15px;
  height: 48px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.9375rem;
  outline: none; }

.button:active {
  background-color: #f4f4f4; }

.content-table-solicitudes {
  width: 100%;
  padding-top: 5px; }

cells-select {
  --csprivate-bg-color: var(--cells-select-bg-color, var(--bbva-100, #FFF)); }

bbva-button-default {
  --_bg-color: var(--bbva-button-default-secondary-bg-color, #fff); }

  bbva-form-number {
    --_field-bg-color: var(--bbva-form-field-bg-color, var(--colorsSecondary100, #FFF));
  }
  
@media only screen and (max-width: 480px) {
  .panel-top {
    padding: 10px 25px 10px 25px;
    text-align: center; } }

.actionDetail {
  padding: 7px 0px 0px 0px;
  height: 40px;
  width: 40px;
  background: transparent;
  border-radius: 50%;
  display: inline-block; }

.actionDetail:hover {
  background-color: #ccc;
  opacity: 0.8; }

.content-actions {
  position: relative; }

bbva-button-icon {
  height: 47px !important;
  width: 47px; }

.list-actions {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 40px;
  right: 20px;
  display: flex;
  background-color: #fff;
  justify-content: flex-end;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  -webkit-box-shadow: 1px 1px 1px 0px #e1e1e1;
  -moz-box-shadow: 1px 1px 1px 0px #e1e1e1;
  box-shadow: 1px 1px 1px 0px #e1e1e1;
  z-index: 10; }

.list-actions div {
  cursor: pointer;
  padding: 15px;
  color: #666;
  width: 100px; }

.item-detalle {
  width: 105px !important; }

.item-promover {
  width: 125px !important; }

.list-actions div:hover {
  color: #000;
  text-shadow: 1px 1px 1px #BDBDBD; }

.icon-actions {
  margin-top: -2px;
  margin-right: 1px; }

.list-actions div:last-child {
  border-bottom: 0px solid #fff; }

.no-show {
  display: none; }
  